<div id="Top"></div>
<div class= "image">
<%= image_tag "IMG_1947.jpg", :size => "400x400" %>
<h1_1>
Crowns
<br>Over
<br>Cotton</h1_1>

<p_5> For</p_5> <p_7>COLORful</p_7><p_8> Girls!</p_8>
</div>

<div class="quote" data-respond="start: 100px; end: 900px; interval: 50px;">
<br>
<br>



	<h1_8>Videos</h1_8><span class="glyphicon glyphicon-facetime-video"></span>
<div style="width:100%;height:0;border-top:1px solid #95a5a6;font-size:0;"></div>
<br>

<div class="container">
<% if user_signed_in? %>
<%= link_to 'New video', new_wideo_path, class: "btn btn-success btn-lg" %>
<% end %>



<center><iframe width="800" height="451" frameborder="0" msallowfullscreen oallowfullscreen webkitallowfullscreen mozallowfullscreen allowfullscreen name="wistia_embed" class="wistia_embed" scrolling="no" allowtransparency="true" src="//fast.wistia.net/embed/iframe/d08m89hilv?videoFoam=true"></iframe>
<script src='//fast.wistia.com/static/iframe-api-v1.js'></script></center>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543f38c87892c25e" async></script>
<div class="cop"></div>
<div class="frame"></div>
<div id="Blog"></div>
<br>
<br>
<br>
<div class="container">
<div class="aligncenter" style="width:95%;height:0;border-top:2px dotted #95a5a6;font-size:0;">-</div>
<div class="work"></div>
<div class="mobilelogo">
<center><%= image_tag "crown31.png", :width => "7%", :class => "img-responsive" %></center>
<center><div class="aligncenter" style="width:10%;height:0;border-top:1px solid #1abc9c;font-size:0;"></div></center>
<center><%= image_tag "cloud294.png", :width => "7%", :class => "img-responsive" %></center>
</div>
</div>

<div class="container">
<% if user_signed_in? %>
<%= link_to 'New Blog', new_article_path, class: "btn btn-success btn-lg" %>
<% end %>
<% @articles.each do |article| %>
</div>






<br>

</div>

<div class="hovers">

  <%= link_to article do %>
  <div class="dateline"> 
  <div class="row">
    <div class="col-md-10">
       
  <p_10><span class="glyphicon glyphicon-pencil"></span> on
<strong><%= I18n.t("date.abbr_month_names")[article.created_at.month] %>
<%= article.created_at.mday %>
<%= article.created_at.year %></strong></p_10>
</div>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-4">
<p_3><%= article.title %></p_3>
</div>
</div>


 <div class="filtered"> 
   


<center><%= image_tag article.photo.url(:medium), :class => "img-responsive" %></center>
<% end %>

</div>



<br>


<br>
<div class="extra">
<center>
<% if user_signed_in? %>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
<td><%= link_to 'Delete', article_path(article),
method: :delete, data: { confirm: 'Are you sure?' } %></td>
</center>
<% end %>
</div>

<% end %>
<div class="container">
<div class="pages">
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
</div>



<h1_4>Follow Me on...</h1_4>
<div class="social">

<%= link_to "http://www.facebook.com/" do %> 
<%= image_tag "facebook.png", :size => "70x70" %>
<% end %>

<%= link_to "http://www.twitter.com/" do %> 
<%= image_tag "twitter.png", :size => "70x70" %>
<% end %>

<%= link_to "http://www.instagram.com/" do %> 
<%= image_tag "instagram.png", :size => "70x70" %>
<% end %>

<%= link_to "http://www.youtube.com/" do %> 
<%= image_tag "youtube.png", :size => "70x70" %>
<% end %>

</div>
<div id="About"></div>
<br>
<br>
<br>
</div>


  <center><div class="aligncenter" style="width:100%;height:0;border-top:2px solid black;font-size:0;">-</div></center>
<center><%= image_tag "crown31.png", :width => "67px", :class => "img-responsive" %></center>
<h1_6><center>Crowns Over Cotton is...</center></h1_6> </br>
<div class="container">
<center><h1_5>A young innovative online magazine celebrating the beautiful complexities of COLORful girls.<br>
   <center><div class="aligncenter" style="width:65%;height:0;border-top:2px dotted black;font-size:0;">-</div></center>

<br>
Crowns Over Cotton covers the news, entertainment, beauty, and health that matter to you, with the vibrancy and color that You deserve.</h1_5></center>
<center><%= image_tag "cloud294.png", :width => "67px", :class => "img-responsive" %></center>

</div>
 <center><div class="aligncenter" style="width:100%;height:0;border-top:2px solid black;font-size:0;">-</div></center>
<br>
<center><%= image_tag "Eyeglass.pdf", :width => "67px", :class => "img-responsive" %></center>
<br>
<center><h1_2>Can I get Your Email <br>digits?</h1_2></center>


<br>



<div class="rejust">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{font:103% Rock Salt, Sans-Serif; color:black;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

</style>
<div id="mc_embed_signup">
<form action="//herokuapp.us9.list-manage.com/subscribe/post?u=ef6367d657c76b4c9ba32bac4&amp;id=d677110f0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    	
    

<div class="form-group">


	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Please..." required>


<div class="ebutton">
<button type="submit" id="mc-embedded-subscribe"  class="btn btn-success btn-lg">Sign me up</button></div>
</div>
</div>
</div>
</div>

	
    </div>
</form>
</div>
 </div>


<!--End mc_embed_signup-->
<br>
<br>
<br>



<div class= "image-2">
<%= image_tag "IMG_9569.jpg", :class => "img-responsive" %>
</div>
</div><center><div class="aligncenter" style="width:900px;height:0;border-top:1px solid black;font-size:0;">-</div></center>
<br>


<div class="atom">
  <div class="row">
  <div class="col-xs-4 col-sm-3 col-md-1">
  
<p_11><u><b>Connect</b></u>
<br>
    Twitter
    Instagram
    Facebook
    Tumblr</p_11>
</div>

 

  <div class="col-xs-3 col-sm-2 col-md-1">
 <p_11><u><b>Service</b></u>
 <br>
 Privacy Policy
 FAQs
 <%= link_to 'admin', new_user_session_path %>
  </p_11>
</div>



</div>
</div>

<center><div class="aligncenter" style="width:900px;height:0;border-top:1px solid black;font-size:0;">-</div></center>
<br>


