
<div class="aligncenter" style="width:100%;height:0;border-top:8px solid #f1c40f;font-size:0;">-</div>

<div class= "image">
			<%= image_tag "3 slaves.jpg",  :class => "img-responsive" %>

<h1_1>
		Crowns
		<br>Over
		<br>Cotton</h1_1>
</div>
	<div class="quote" data-respond="start: 100px; end: 900px; interval: 50px;">
<div style="width:100%;height:0;border-top:8px solid #f1c40f;font-size:0;"></div>
		
		
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543f38c87892c25e" async></script>

		<div class="cop"></div>
			
<div class="frame"></div>

	
 <div id="Blog"></div>
	
			<br>
			<br>
			<br>
<div class="container">
	<div class="aligncenter" style="width:90%;height:0;border-top:2px solid #1abc9c;font-size:0;">-</div>
	<div class="work"></div>
				<center><%= image_tag "crown31.png", :width => "6%", :class => "img-responsive" %></center>
				<center><div class="aligncenter" style="width:8%;height:0;border-top:2px solid #1abc9c;font-size:0;"></div></center>
				<center><%= image_tag "cloud294.png", :width => "6%", :class => "img-responsive" %></center>
</div>

<center><div class="aligncenter" style="width:33%;height:0;border-top:2px solid #7f8c8d;font-size:0;">-</div></center>

<br>


	<div class="container">
			<% if user_signed_in? %>
				<%= link_to 'New Blog', new_article_path, class: "btn btn-primary btn-lg" %>
			<% end %>


		
					<% @articles.each do |article| %>

<div class="container">
		<div class="row">
				
				<center><p_3><%= article.title %></p_3></center>


<center><span class="glyphicon glyphicon-pencil"></span> on
<strong><%= I18n.t("date.abbr_month_names")[article.created_at.month] %>
<%= article.created_at.mday %>
<%= article.created_at.year %></strong></center>
<center><div class="aligncenter" style="width:9%;height:0;border-top:2px solid #f1c40f;font-size:0;"></div></center>
<br>
</div>
</div>

<center><%= image_tag article.photo.url(:medium), :class => "style_image", :class => "img-responsive" %></center>




</div>
</div>


		
<br>
<center><p_1><%= link_to "Read On ", article %></p_1></center>
<center><div class="aligncenter" style="width:45%;height:0;border-top:2px solid #7f8c8d;font-size:0;">-</div></center>




<br>
<div class="extra">
<center>
<% if user_signed_in? %>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
<td><%= link_to 'Delete', article_path(article),
method: :delete, data: { confirm: 'Are you sure?' } %></td>
</center>



<% end %>
</div>
</div>
</div>

<br>
<center><div class="aligncenter" style="width:55%;height:0;border-top:1px solid #1abc9c ;font-size:0;">-</div></center>

<br>

<br>
<br>
<% end %>



<div class="container">
<div class="pages">
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
</div>
<div class="social">
	<%= image_tag "facebook.png", :width => "100%", :class => "img-responsive" %><br>
 <%= image_tag "twitter.png", :width => "100%", :class => "img-responsive" %><br>
<%= image_tag "instagram.png", :width => "100%", :class => "img-responsive" %><br>
<%= image_tag "youtube.png", :width => "100%", :class => "img-responsive" %>
</div>

 <div id="Authors"></div>
<br>
<br>
<br>
<div class="container">
	<div class="aligncenter" style="width:93%;height:0;border-top:2px solid #7f8c8d;font-size:0;">-</div>
				<center><%= image_tag "crown31.png", :width => "6%", :class => "img-responsive" %></center>
				<center><div class="aligncenter" style="width:8%;height:0;border-top:2px solid #1abc9c;font-size:0;"></div></center>
				<center><%= image_tag "cloud294.png", :width => "6%", :class => "img-responsive" %></center>
</div>
</div>
  

<div class="kristin">
</div>
    <center><h1>KRISTIN</h1></center>

   


<br>
<div class= "flick">
<%= image_tag "shire.jpg", :class => "img-responsive" %>
</div>

<h1_2>Can I get your Email <br>digits?</h1_2>

<div class="email">
	<div class="mystyle">
  <div class="form-group">
    <div class="input-group">
    	<input class="form-control" type="text" placeholder="Enter Your Email">
    	 </div>
  </div>
  		<div class="ebutton">

    <button type="submit" class="btn btn-success btn-lg">Sign me up</button></div>

</div>
</div>
<h1_3> Slide me some info and I'll hit you back with some cool stuff...</h1_3>

<div class="row">
		<%= image_tag "DeathtoStock_Simplify10.jpg", :width => "25%", :class => "img-responsive" %>
		<%= image_tag "DeathtoStock_Simplify4.jpg", :width => "25%", :class => "img-responsive" %>
			<%= image_tag "DeathtoStock_Simplify8.jpg", :width => "25%", :class => "img-responsive" %>
			<%= image_tag "DeathtoStock_Simplify8.jpg", :width => "25%", :class => "img-responsive" %>
			  </div>

<br>
			  <div class="aligncenter" style="width:1432px;height:0;border-top:2px solid #1abc9c;font-size:0;">-</div>
			<br>




<center><em><%= link_to 'ADMIN', new_user_session_path %></em></center>



<br>
