<div class= "container">
</br>
  <div style="border-left:thin #95a5a6 outset; left:2px; height:750px;" />
<%= image_tag @article.photo.url(:large), :class => "style_image_3" %>
<div style="border-right:thin #95a5a6 inset; right:2px; height:750px;" />
 
 <div class="show">
  <p_3><%= @article.title %></p_3></div>
 


  
<div class="aligncenter" style="width:1000px;height:0;border-top:1px outset #7f8c8d;font-size:0;">-</div>
   </br>
 

 
 
  
    <div class="container">
       <div class="row">
  <div class="col-lg-6 col-sm-6">
 <p_2><%= @article.text %></p_2>

</div>
</div>
</div>






 


<p>

 
   <div class="aligncenter" style="width:985px;height:0;border-top:4px outset #7f8c8d;font-size:0;">-</div>
<br>
  <div class="sharing">
  <%= image_tag "twitter.png", :size => "50x50" %>
<%= image_tag "facebook.png", :size => "50x50" %>
<%= image_tag "instagram.png", :size => "50x50" %>
<%= image_tag "youtube.png", :size => "50x50" %>
</div>

 </br>
     <div class="container">
    <% if user_signed_in? %>
    <%= link_to 'Back', articles_path %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  
  <% end %>
</div>


</p>
 
 <div class="jumbotron other-color">

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bakebake'; // Required - Replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
</div>
 


</div>
</div>
</div>
