<%
meta title: "Crowns over Cotton|Long Live Colorful Girls!",
     description: "Crowns over Cotton is a digital platform where women of color are celebrated and encouraged to embrace everything that makes them beautifully colorful girls.",
     keywords: %w(Crowns Over Cotton)
%>
<div class="container">
  <h1>New video</h1>
 
  <%= form_for @wideo do |f| %>
    <%= render 'errors', object: @wideo %>
 
    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', required: true %>
      <span class="help-block">A link to the video on YouTube.</span>
    </div>
 
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>